:root {
  --bg-color: #efefef;
  --top-height: 40px;

}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-around() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin layout-center {
  width: 90%;
  max-width: 1320px;
  margin: 0 auto;
}